body{
    font-family: 'Montserrat', sans-serif;
}
.border {
    border: 2px solid black;
}
.accent-color{
    background-color:#17a2b8;
}
.distance-style {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.font-satisfy {
    font-family: 'Satisfy', cursive;
}
.white {
    color: white;
}

h1 {
    font-size: 6vw;
}
.icon-div{
    height: 8vw;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.jumbo-header {
    height: 500px;
    background-image: url(assets/images/jumbo-header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jumbo-header-container{
    height: 500px;
}

button {
    border-radius: 3px;
}

input {
    height: 3rem;

}
.low-high{
    background-image: linear-gradient(to right,  rgb(255, 136, 0),rgb(29, 172, 255));
    border-radius: 30px;
}
.humidity{
    border: 2px solid rgb(96, 197, 255);
    border-radius: 30px;
}
.weather-container{
    border-radius: 20px;
    background-image: radial-gradient(circle,  rgb(78, 179, 238),rgb(39, 114, 158));
}
.text-capitalize {
    text-transform: capitalize;
}

.market-info{
    border: 0px solid white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}
.weather-icon-01d, .weather-icon-01n {
    background-image: url(assets/weatherIcons/clear-sky-01d.png);
}

.weather-icon-02d, .weather-icon-02n {
    background-image: url(assets/weatherIcons/clear-sky-02d.png);
}
.weather-icon-03d, .weather-icon-03n {
    background-image: url(assets/weatherIcons/scattered-clouds-03d.png);
}
.weather-icon-04d, .weather-icon-04n {
    background-image: url(assets/weatherIcons/broken-clouds-04d.png);
}
.weather-icon-09d, .weather-icon-09n {
    background-image: url(assets/weatherIcons/shower-rain-09d.png);
}
.weather-icon-10d, .weather-icon-10n {
    background-image: url(assets/weatherIcons/rain-10d.png);
}
.weather-icon-11d, .weather-icon-11n {
    background-image: url(assets/weatherIcons/thunderstorm-11d.png);
}
.weather-icon-13d, .weather-icon-13n {
    background-image: url(assets/weatherIcons/snow-13d.png);
}
.weather-icon-50d, .weather-icon-50n {
    background-image: url(assets/weatherIcons/mist-50d.png);
}
