.icon-div{
    height: 8vw;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.jumbo-header {
    height: 500px;
    background-image: url(assets/images/jumbo-header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jumbo-header-container{
    height: 500px;
}
.text-capitalize {
    text-transform: capitalize;
}
.weather-icon-01d, .weather-icon-01n {
    background-image: url(assets/weatherIcons/clear-sky-01d.png);
}

.weather-icon-02d, .weather-icon-02n {
    background-image: url(assets/weatherIcons/clear-sky-02d.png);
}
.weather-icon-03d, .weather-icon-03n {
    background-image: url(assets/weatherIcons/scattered-clouds-03d.png);
}
.weather-icon-04d, .weather-icon-04n {
    background-image: url(assets/weatherIcons/broken-clouds-04d.png);
}
.weather-icon-09d, .weather-icon-09n {
    background-image: url(assets/weatherIcons/shower-rain-09d.png);
}
.weather-icon-10d, .weather-icon-10n {
    background-image: url(assets/weatherIcons/rain-10d.png);
}
.weather-icon-11d, .weather-icon-11n {
    background-image: url(assets/weatherIcons/thunderstorm-11d.png);
}
.weather-icon-13d, .weather-icon-13n {
    background-image: url(assets/weatherIcons/snow-13d.png);
}
.weather-icon-50d, .weather-icon-50n {
    background-image: url(assets/weatherIcons/mist-50d.png);
}
